header {
    opacity: 0;
    vertical-align: text-top;
    text-align: right;
}

.quiz-textbox {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#choiceA {
    display: none;
}

#choiceB {
    display: none;
}

#choiceC {
    display: none;
}

#choiceD {
    display: none;
}

#form {
    display: none;
}

#highscores {
    display: none;
}

#clearedText {
    display: none;
}