header {
    opacity: 0;
    
}

.timer-textbox {
    vertical-align: text-top;
    display: inline;
    float: right;
}

.highscores-section {
    display: inline;
    float: left;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color:rgb(64, 147, 241);
}

.start-div {
    margin-top: 75px;
}

.quiz-textbox {
    display: none;
    margin-top: 75px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#choiceA {
    display: none;
}

#choiceB {
    display: none;
}

#choiceC {
    display: none;
}

#choiceD {
    display: none;
}

#form {
    display: none;
    margin-top: 75px;
}

#highscores {
    display: none;
    margin-top: 75px;
}

#clearedText {
    display: none;
}